{% extends "base.html" %}
{% block title %}Політика конфіденційності{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Політика конфіденційності FENTPIC</h1>
    <p>
        Ми поважаємо вашу конфіденційність. Ця політика конфіденційності пояснює, як ми збираємо, використовуємо та захищаємо вашу особисту інформацію.
    </p>

    <h2 class="mt-4">Збір інформації</h2>
    <p>
        Ми збираємо наступну інформацію:
    </p>
    <ul>
        <li><b>Ім'я користувача:</b> Використовується для ідентифікації вас на сайті.</li>
        <li><b>Пароль:</b> Зберігається у захешованому вигляді для вашої безпеки.</li>
        <li><b>Google ID:</b> (Якщо ви використовуєте Google для входу) Використовується для автентифікації через Google.</li>
        <li><b>Електронна пошта:</b> Може використовуватися для зв'язку з вами.</li>
        <li><b>URL-адреса аватара:</b> URL-адреса вашого зображення профілю.</li>
        <li><b>Завантажені зображення:</b> Зображення, які ви завантажуєте на сайт.</li>
    </ul>

    <h2 class="mt-4">Використання інформації</h2>
    <p>
        Ми використовуємо вашу інформацію для наступних цілей:
    </p>
    <ul>
        <li>Надання вам доступу до сайту.</li>
        <li>Персоналізація вашого досвіду.</li>
        <li>Зв'язок з вами.</li>
        <li>Покращення сайту.</li>
    </ul>

    <h2 class="mt-4">Загальнодоступність зображень</h2>
    <p>
        Будь ласка, зверніть увагу, що всі зображення, які ви завантажуєте на сайт, є загальнодоступними. Хоча ми використовуємо протоколи хешування та захисту шляхів до файлів, фактично вони доступні для перегляду іншими користувачами.
    </p>

    <h2 class="mt-4">Cookies</h2>
    <p>
        Ми використовуємо файли cookie для наступних цілей:
    </p>
    <ul>
        <li><b>Сесійні cookie:</b> Для забезпечення коректної роботи сайту та підтримки вашої сесії.</li>
        <li><b>Cloudflare:</b> Для захисту сайту від шкідливих атак.</li>
        <li><b>Google:</b> Для авторизації.</li>
    </ul>

    <h2 class="mt-4">Захист інформації</h2>
    <p>
        Ми вживаємо заходів для захисту вашої особистої інформації, включаючи використання протоколів хешування для паролів.
    </p>

    <h2 class="mt-4">Зміни в політиці конфіденційності</h2>
    <p>
        Ми можемо час від часу змінювати цю політику конфіденційності. Будь ласка, періодично перевіряйте цю сторінку, щоб бути в курсі будь-яких змін.
    </p>

    <h2 class="mt-4">Зв'язок з нами</h2>
    <p>
        Якщо у вас є які-небудь питання щодо цієї політики конфіденційності, будь ласка, зв'яжіться з нами за адресою <a href="mailto:contact@xxanqw.pp.ua" class="link-primary">contact@xxanqw.pp.ua</a>.
    </p>
</div>
{% endblock %}