{% extends "base.html" %}
{% block title %}Умови надання послуг{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Умови надання послуг FENTPIC</h1>
    <p>
        Будь ласка, уважно прочитайте ці умови надання послуг перед використанням сайту FENTPIC.
    </p>

    <h2 class="mt-4">Прийняття умов</h2>
    <p>
        Використовуючи сайт FENTPIC, ви погоджуєтесь з цими умовами надання послуг. Якщо ви не погоджуєтесь з цими умовами, будь ласка, не використовуйте сайт.
    </p>

    <h2 class="mt-4">Обліковий запис користувача</h2>
    <p>
        Для використання деяких функцій сайту вам може знадобитися створити обліковий запис. Ви несете відповідальність за збереження конфіденційності вашого пароля та облікового запису. Ви погоджуєтесь нести відповідальність за всі дії, що відбуваються у вашому обліковому записі.
    </p>

    <h2 class="mt-4">Використання контенту</h2>
    <p>
        Ви несете повну відповідальність за контент, який ви завантажуєте на сайт. Завантажуючи контент, ви підтверджуєте, що маєте всі необхідні права на цей контент і що він не порушує жодних законів або прав третіх сторін.
    </p>
    <p>
        Ви погоджуєтесь, що контент, який ви завантажуєте на сайт, може бути доступним для інших користувачів, з урахуванням налаштувань приватності, які ви встановили. Ми вживаємо заходів для захисту вашого контенту, але не можемо гарантувати повну конфіденційність.
    </p>

    <h2 class="mt-4">Заборонені дії</h2>
    <p>
        Ви погоджуєтесь не використовувати сайт для наступних цілей:
    </p>
    <ul>
        <li>Завантаження незаконного, шкідливого, загрозливого, образливого, наклепницького, вульгарного, непристойного, або іншого неприйнятного контенту.</li>
        <li>Порушення прав інтелектуальної власності.</li>
        <li>Поширення спаму або інших небажаних повідомлень.</li>
        <li>Втручання в роботу сайту або його інфраструктури.</li>
    </ul>

    <h2 class="mt-4">Відмова від відповідальності</h2>
    <p>
        Сайт FENTPIC надається "як є". Ми не несемо відповідальності за будь-які збитки, що виникли внаслідок використання сайту.
    </p>

    <h2 class="mt-4">Зміни в умовах надання послуг</h2>
    <p>
        Ми можемо час від часу змінювати ці умови надання послуг. Будь ласка, періодично перевіряйте цю сторінку, щоб бути в курсі будь-яких змін.
    </p>

    <h2 class="mt-4">Припинення дії облікового запису</h2>
    <p>
        Ми залишаємо за собою право припинити дію вашого облікового запису, якщо ви порушуєте ці умови надання послуг.
    </p>

    <h2 class="mt-4">Зв'язок з нами</h2>
    <p>
        Якщо у вас є які-небудь питання щодо цих умов надання послуг, будь ласка, зв'яжіться з нами за адресою <a href="mailto:contact@xxanqw.pp.ua" class="link-primary">contact@xxanqw.pp.ua</a>.
    </p>
</div>
{% endblock %}